.container__lateral {
    position: absolute;
    width: 17%;
}

.barra__lateral {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu__lateral{
    width: 100%;
    border-bottom: 1px solid var(--cor-tarefa);
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.menu__lateral, ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
}

h2 {
    margin-right: auto;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--font-principal);
    color: var(--cor-titulo);
}

li {
    display: flex;
    justify-content: space-between;
    width: 12rem;
    min-height: 2rem;
    text-align: center;
    box-sizing: border-box;
    margin: 0 2em;
    font-size: 1em;
    font-weight: 500;
    font-family: var(--font-secundaria);
    color: var(--cor-titulo);
    background-color: 2px 2px 5px var(--cor-sombra);
    background-color: var(--cor-fundo-sombra);
}

.menu__link, li {
    margin-left: auto;
    cursor: pointer;
    border: 2px transparent;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
}

li:hover {
    transform: translateY(-4px);
}

.menu__link {
    background-color: var(--cor-lista); 
}

.menu__link:hover {
    background-color: var(--cor-fundo-sombra); /* Fundo levemente esverdeado */
    opacity: 0.9; /* Pequena transparência */
    box-shadow: 2px 2px 5px var(--cor-sombra); /* Sombra sutil */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.icone__barraLateral {
  display: none;
}

@media (max-width: 768px) {
    
    /* Botão do menu */
.menu__hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    top: 20px;
    left: 20px;
    z-index: 1000;
    color: var( --cor-menu-hamburger-mobile);
  }
  
  /* Sidebar oculta por padrão */
  .container__lateral {
    top: 0;
    left: 0;
    width: 13rem;
    min-height: 1rem;
    box-sizing: border-box;
    background-color: var(--cor-menu-lateral-mobile);
    padding: 80px 0px 0 25px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }
  
  /* Quando ativada */
  .container__lateral.ativo {
    transform: translateX(0);
  }
  
  .menu__lateral h2 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--cor-titulo-mobile);
  }
  
  .menu__lateral ul {
    list-style: none;
    padding: 0;
  }
  
  .menu__lateral li {
    width: 11rem;
    min-height: 1rem;
    padding: 10px 10px;
    border-bottom: 1px solid var(--cor-branca-mobile);
    color: var(--cor-branca-mobile);
    background-color: transparent;
    font-size: 0.9rem;
  }

  .tarefa__data, .lixeira__diversos {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.4em;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--cor-fundo-sombra-mobile);
    z-index: 999;
    transition: opacity 0.3s ease;
  }
  
  .hidden {
    display: none;
  }

  .icone__barraLateral {
    display: block;
  }

}

