@import url(../styles/header.css);
@import url(../styles/main.css);
@import url(../styles/aside.css);

:root {
    --cor-titulo: #2D3E50;
    --cor-principal: #3B413A;
    --cor-button: #63A28C;
    --cor-buttoon-hover: #2D6A4F;
    --cor-lista: #63A28C;
    --cor-borda: rgba(59, 65, 58, 0.5);
    --cor-de-fundo: rgb(245, 245, 245);
    --cor-tarefa: #ccc;
    --cor-sombra: rgba(0, 0, 0, 0.1);
    --cor-fundo-sombra: rgba(45, 106, 79, 0.2);
    

    /* CORES DO MOBILE*/

    --cor-de-fundo-mobile: rgb(245, 245, 245);
    --cor-principal-mobile: #3B413A;
    --cor-titulo-mobile: #24e092;
    --cor-menu-hamburger-mobile: #63A28C;
    --cor-button-mobile: #3B413A;
    --cor-menu-lateral-mobile: #1b4332f6;
    --cor-branca-mobile: #f1f1f1;
    --cor-sombra--mobile: rgba(0, 0, 0, 0.1);
    --cor-fundo-sombra-mobile: #1b43321a;



    --font-principal: "Playfair Display", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 1.5em;
    background-color: var(--cor-do-fundo);
}


@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 1.5em;
        background-color: var(--cor-de-fundo-mobile);
    }
}

.testee {
    border: 1px solid red;
}


